<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LaserMark.Properties.Settings.ModelConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Profile_Keyence\SystemProfile\Model.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>